#welcomeAndExplanationText{
    font-size: 70px;
    justify-self: center;
    display: none;
}

html{
    overflow: hidden;
    font-style: italic;
    background-image: linear-gradient(to right,rgb(255, 255, 255), rgb(255, 0, 0));
}
#Zegar{
    align-self: center;
    justify-self: center;    
}
#divForZegar{
    width: 100%;
    height: 100%;
    display: none;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    position: relative;
}
.buttonsForZegar{
    cursor: pointer;
    position: absolute;
    opacity: 1;
    background-color: red;
    width: 5px;
    height: 5px;
}

#divForZegarButtons{
    position: absolute;
    display: flex;
    justify-content: space-between;
}

#slajdOneImage{
    position: absolute;
    left: 500px;
    top: 200px;
    display: none;
    align-self: center;
    justify-self: center;
}

#button1{
    position: absolute;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    left: 100px;
    bottom: 180px;
    opacity: 0;
}


#button11{
    position: absolute;
    border-radius: 50px;
    height: 120px;
    width: 120px;
    right: 80px;
    bottom: 185px;
    opacity: 0;
}
#button5{
    position: absolute;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    left: 100px;
    top: 240px;
    opacity: 0;
}

#button7{
    position: absolute;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    right: 100px;
    top: 240px;
    opacity: 0;
}
#button3{
    position: absolute;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    left: 220px;
    top: -25px;
    opacity: 0;
}

#button9{
    position: absolute;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    right: 230px;
    top: -25px;
    opacity: 0;
}

#button6{
    position: absolute;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    top: 275px;
    right: -50px;
    opacity: 0;
}
#button12{
    position: absolute;
    border-radius: 50px;
    height: 120px;
    width: 100px;
    bottom: 220px;
    right: -50px;
    opacity: 0;
}

#button2{
    position: absolute;
    border-radius: 50px;
    height: 110px;
    width: 120px;
    left: 190px;
    bottom: 80px;
    opacity: 0;
}

#button4{
    position: absolute;
    border-radius: 50px;
    height: 110px;
    width: 100px;
    left: 190px;
    top: 125px;
    opacity:0;
}

#button8{
    position: absolute;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    right: 200px;
    top: 130px;
    opacity: 0;
}

#button10{
    position: absolute;
    border-radius: 50px;
    height: 120px;
    width: 110px;
    right: 175px;
    bottom: 75px;
    opacity: 0;
}
#currentPhotoDisplay{
    height: 700px;
    width: 700px;
    display: none;
}

#logoSorimexu{
    position: absolute;
    display: flex;
    justify-self: start;
    width: 250px;
    height: 250px;
    bottom: 50px;
}

h2{
    position: absolute;
    display: none;
    justify-self: start;
    width: 250px;
    height: 250px;
    bottom: 25px;

}