#welcomeAndExplanationText{
    font-size: 50px;
    justify-self: center;
    display: none;
}
html{
    font-style: italic;
    background-image: linear-gradient(to right,rgb(0, 255, 242), rgb(255, 255, 255));
}
#Zegar{
    align-self: center;
    justify-self: center;    
}
#divForZegar{
    width: 100%;
    height: 100%;
    display: none;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    position: relative;
}
.buttonsForZegar{
    cursor: pointer;
    position: absolute;
    opacity: 1;
    background-color: red;
    width: 5px;
    height: 5px;
}

#divForZegarButtons{
    position: absolute;
    display: flex;
    justify-content: space-between;
}

#slajdOneImage{
    display: flex;
    align-self: center;
    justify-self: center;
}

#button1{
    position: absolute;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    left: 100px;
    bottom: 185px;
    opacity: 0;
}